<div class="container mt-4">
  <div class="row">
    {{#if results.length}}
      {{#each results}}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{#if this.image}} {{this.image}} {{else}} /path/to/default-image.jpg {{/if}}" class="card-img-top" alt="{{this.name}}">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">Date: {{this.dates.start.localDate}}</p>
            <p class="card-text">Time: {{this.dates.start.localTime}}</p>
            <a href="{{this.booking_url}}" class="btn btn-primary" target="_blank">Book Now</a>
          </div>
        </div>
      </div>
      {{/each}}
    {{else}}
      <div class="col-12">
        <p>No events found. Please try again later.</p>
      </div>
    {{/if}}
  </div>
</div>